.projectSection {
    position: relative;
    padding-top: 150px;
    padding-bottom: 30px;
    background-image: var(--section-background-color);
  }
  
  .projectHeading {
    color: white;
    font-size: 2.3em;
    font-weight: 500;
    padding-bottom: -30px;
  }
  
  .projectCard {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
  }
  
  .textWhite {
    color: white;
  }
  